scikit-learn
gpustat
nvitop
diffusers
transformers==4.56.2
einops
huggingface_hub==0.35.0
opencv-python
trimesh
omegaconf
scikit-image
numpy==1.26.4
peft
jaxtyping
typeguard
matplotlib
imageio-ffmpeg
pyrender
deepspeed
wandb[media]
colormaps
kiui
scikit-image
scipy
gradio_image_prompter
gradio
pymeshlab
pydantic==2.10.6